@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Variables */
:root {
	--clr-green: hwb(75 16% 3%);
	--clr-white: hsl(0, 0%, 100%);
	--clr-white-distorted: hsla(0, 0%, 100%, 70%);
	--clr-grey-700: hsl(0, 0%, 20%);
	--clr-grey-800: hsl(0, 0%, 12%);
	--clr-grey-900: hsl(0, 0%, 8%);

	--ff-primary: "Inter", sans-serif;
	--ff-body: var(--ff-primary);

	--fw-regular: 400;
	--fw-medium: 600;
	--fw-bold: 700;
}

/* ------------CSS Resets------------ */

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
* {
	margin: 0;
	padding: 0;
	font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

html,
body {
	height: 100%;
	-webkit-tap-highlight-color: transparent;
}

/* Set core body defaults */
body {
	text-rendering: optimizeSpeed;
	line-height: 1;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}
a {
	color: inherit;
	text-decoration: inherit;
}
/* Make images easier to work with */
img,
picture,
svg,
video,
canvas {
	max-width: 100%;
	display: block;
}
/* ------------CSS Resets------------ */

body {
	height: 100dvh;
	width: 100%;
	display: grid;
	place-content: center;
	background-color: var(--clr-grey-900);
	color: var(--clr-white);
	font-family: var(--ff-body);
	font-size: 0.875rem;
	text-align: center;
}

.card-container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1.5rem;
	background-color: var(--clr-grey-800);
	padding: 1.5rem;
	border-radius: 0.75rem;
	max-width: 90vw;
}

.profile-img {
	border-radius: 50%;
	width: 5.75rem;
	height: 5.75rem;
	justify-self: center;
}

.profile-info--name {
	font-size: 24px;
	font-weight: var(--fw-medium);
	margin-bottom: 1rem;
}

.profile-info--address {
	color: var(--clr-green);
	font-weight: var(--fw-medium);
}

.person-title {
	color: var(--clr-white-distorted);
}

.social-links {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
	font-weight: var(--fw-bold);
}

.social-links a {
	background-color: var(--clr-grey-700);
	padding-block: 1rem;
	border-radius: 0.375rem;
}
.social-links a:is(:hover, :focus, :active) {
	background-color: var(--clr-green);
	color: var(--clr-grey-800);
}

@media screen and (min-width: 600px) {
	.card-container {
		padding: 2.5rem;
		width: 24rem;
	}

	.social-links a {
		transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
	}
}
